<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Default Layout</title>
    <script type="text/javascript"></script>
    <link href="https://db.onlinewebfonts.com/c/8426a32eac5d066df381defc65f5b85f?family=GT+Eesti+Pro+Display+Medium" rel="stylesheet">
</head>
<body>
    
    <footer>
        <div class="footer-top row">
            
            <div class="newsletter">
                <img th:src="@{/images/palm-icon.png}" alt="Logo" class="logo">
                <div class="newsletter-content">
                    <h2>Obtenez des mises à jour et plus</h2>
                    <p>Pensées & réfléchies dans votre boîte de réception</p>
                </div>
                <div class="newsletter-subscribe">
                    <form action="">
                        <input type="email" placeholder="Votre e-mail">
                        <button>S'ABONNER</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom row">
            <div class="col-6 col-md-4">
                <div class="footer-section">
                    <div class="title">
                        APPELEZ-NOUS
                    </div>
                    <div class="context">
                        <div class="contact">
                            <div class="c-title">
                                Appelez-nous
                            </div>
                            <div class="sub">
                                +216 75 652 102
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="footer-section">
                    <div class="title">
                        CONTACTEZ-NOUS
                    </div>
                    <div class="context">
                        <div class="contact">
                            <div class="c-title">
                                Contactez-nous
                            </div>
                            <div class="sub">
                                support@9oss.tn
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="footer-section">
                    <div class="title">
                        SUIVEZ-NOUS
                    </div>
                    <div class="context">
                        <div class="contact">
                            <div class="c-title">
                                Suivez-nous
                            </div>
                            <div class="sub">
                                <div class="social-icons">
                                    <a href="#"><img th:src="@{/images/facebook-icon.png}" alt="Facebook"></a>
                                    <a href="#"><img th:src="@{/images/instagram-icon.png}" alt="Instagram"></a>
                                    <a href="#"><img th:src="@{/images/youtube-icon.png}" alt="YouTube"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-links row">
            <div class="col-3"><a href="#">Politique de confidentialité</a></div>
            <div class="col-2"><a href="#">Mention légales</a></div>
            <div class="col-3"><a href="#">Conditions Générales de vente</a></div>
            <div class="col-2"><a href="#">Qui sommes nous ?</a></div>
            <div class="col-2"><a href="#">Contact</a></div>
        </div>
    </footer>

</body>
</html>
